#
# This file is part of RHexLib, 
#
# Copyright (c) 2001 The University of Michigan, its Regents,
# Fellows, Employees and Agents. All rights reserved, and distributed as
# free software under the following license.
# 
#  Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
# 
# 1) Redistributions of source code must retain the above copyright
# notice, this list of conditions, the following disclaimer and the
# file called "CREDITS" which accompanies this distribution.
# 
# 2) Redistributions in binary form must reproduce the above copyright
# notice, this list of conditions, the following disclaimer and the file
# called "CREDITS" which accompanies this distribution in the
# documentation and/or other materials provided with the distribution.
# 
# 3) Neither the name of the University of Michigan, Ann Arbor or the
# names of its contributors may be used to endorse or promote products
# derived from this software without specific prior written permission.
# 
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
# "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
# LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
# A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE REGENTS OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
# PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
# LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
# NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

######################################################################
# $Id: rhex_michigan.rc,v 1.9 2001/08/15 17:51:51 ulucs Exp $
#
# This file contains configuration information for the Michigan hardware
#
# Created       : Uluc Saranli, 03/22/2001
# Last Modified : Uluc Saranli, 06/27/2001
#
######################################################################

###################################################################
# RHexLib Module Manager threading parameters
#
#
mm_thread_enable = 1.0;
mm_mainloop_prio = 25.0;
mm_polling_highprio = 24.0;
mm_polling_lowprio = 9.0;

###################################################################
# CALIBRATION PARAMETERS
#
ground_offset = { 5.05 5.05 5.05 5.05 5.05 5.05 };
manual_offset = { 3.14159 3.14159 3.14159 3.14159 3.14159 3.14159 };
switch_offset = { 4.15 4.25 4.25 4.20 4.45 4.20 };

###################################################################
# ANALOG IO PARAMETERS
#
# The number of analog input channels to acquire
analog_channels = 16;
# Whether the analog acquision will be in polling or non-polling mode
analog_polling = 1;

############################################################
# BATTERY MEASUREMENT CALIBRATION information
#
# The values are in the form { offset scale }.

# batt_voltage_calib = { 0.0 1.0 };         # pass thru parameters
# batt_voltage_calib = { 1.5997 5.3696 };   # with 10 mOhm shunt
# batt_voltage_calib = { 6.8625 4.2500 };   # with 2.5 mOhm shunt
batt_voltage_calib = { 2.6812 10.6172 };    # with bi-directional sensor

# batt_current_calib = { 0.0 1.0 };         # pass thru parameters
# batt_current_calib = { 0.2210 10.1861 };  # with 10 mOhm shunt
# batt_current_calib = { 0.2882 46.9738 };  # with 2.5 mOhm shunt 
batt_current_calib = { -35.9163 19.4533 };  # with bi-directional sensor

############################################################
# ACCELEROMETER CALIBRATION information
#   JUMPER CONFIGURATION:
#     Pin2 = AccX
#     Pin7 = AccZ
#     Pin8 = AccY
#
# The formula for the acceleration is:
# accel = gain * ( pwm_width - offset )
#
### Calibration as of 05/13/2001

accelerometer_gains = { 22265.0 21440.0 -18382.0 };
accelerometer_offsets = { 0.00165219 0.00189570 0.001898384 };

### Test (pass thru) calibration
# accelerometer_gains = { 1 1 1 };
# accelerometer_offsets = { 0 0 0 };

###################################################################
# MOTOR ESTIMATION AND DRIVE COMPENSATION
#
motor_estimation_enable = 1;
drive_compensation_enable = 1;

###################################################################
# CalibMachine CONFIGURATION
#

# Flag to indicate whether the homeswitch calibration should fall back
# to ground calibration in case of failure.
calib_ground_retry = 1.0;

# Maximum time for calibration attempts ( in seconds ) 
calib_timeout = 2.0;

# Voltage command for the ground seeking behavior and drive calibration (V) 
calib_command = 0.4;

# Minimum motor speed for polarity calibration (rad/s) 
calib_min_speed = 0.5;

# Minimum time of nonzero rotation for polarity calibration (in seconds ) 
calib_pol_time = 0.05;

# Stall timeout for ground encoder calibration ( in seconds )
calib_stall_time = 0.2;
calib_stall_toler = 1e-3;
  
